@import "../../vendor/badchoice/Hurricane/src/Hurricane-Variables";
@import "variables";
@import "../../vendor/badchoice/Hurricane/src/Hurricane";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Basic";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Inputs";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Tables";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Buttons";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Cards";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Grid";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Dropdown";
@import "../../vendor/badchoice/Hurricane/src/Hurricane-Sort";

//@import url('https://fonts.googleapis.com/css?family=Lato:200,300,300italic,700');

@family-serif: "Lato", sans-serif;
@family-heads: "Lato", sans-serif;

@import "tagsInput";
@import "popup";
body{
  margin:0;
  font-family: @family-serif;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 300;
  color: @gray;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.navbar-item,.navbar-link{
  font-family: @family-heads;
}

a{
  .text-decoration-none;
  color:@brand-second;
}

input{
  //height:32px;
  width:300px;
}

.pagination {
  li {
    display:inline;
    margin-right:10px;
  }
}

table th{
  background-color:@broken-white;
}

.resourceSearch, .pagination{
  .ml4;
}

.edit:after{
  content:'edit';
}

select{
  width:300px;
}

.tag{
  background-color:@red;
  font-weight:400;
  .br1; .p1; .mr1; .white;
}